# ==== PYTHON ====
__pycache__/
*.py[cod]
*.so

# ==== JUPYTER ====
.ipynb_checkpoints/

# ==== SISTEMA ====
.DS_Store

# ==== ENTORNOS ====
.venv/
.env
.env.*

# ==== VISUALIZACIÓN ====
*.pdf

# ==== ENTORNOS ====
.venv/
env/
venv/
Include/
Lib/
Scripts/
share/
*.egg-info